[submodule "vsplf-dynamic-i18n"]
	path = vsplf-dynamic-i18n
	url = git@github.com:vsplf/vsplf-dynamic-i18n.git
[submodule "vsplf-notification"]
	path = vsplf-notification
	url = git@github.com:vsplf/vsplf-notification.git
[submodule "vsplf-parent"]
	path = vsplf-parent
	url = git@github.com:vsplf/vsplf-parent.git
[submodule "tools"]
	path = tools
	url = git@github.com:vsplf/tools.git
